HATCHET_PUBLIC_URL=https://hatchet.peacockery.studio
HATCHET_COOKIE_DOMAIN=hatchet.peacockery.studio
HATCHET_COOKIE_INSECURE=f
HATCHET_DASHBOARD_PORT=8898
HATCHET_GRPC_PORT=7077
HATCHET_GRPC_BROADCAST_ADDRESS=localhost:7077
HATCHET_INTERNAL_GRPC_BROADCAST_ADDRESS=localhost:7077

HATCHET_POSTGRES_DB=hatchet
HATCHET_POSTGRES_USER=hatchet
HATCHET_POSTGRES_PASSWORD=hatchet

HATCHET_PROFILE_NAME=peacock-local
HATCHET_CLIENT_TLS_STRATEGY=none
